@using VacationManager.Web.ViewModels.Teams;

@model TeamDetailsViewModel

<div class="team-details-container">
    <h1 class="team-detailed-name">@Model.Name</h1>
    <h2>Ръководен от @Model.Leader.FullName (@Model.Leader.Email)</h2>
    <article>
        <section>
            <article class="team-details-description">
                @Model.Name е отбор работещ по проекта @Model.Project.Name. 
                Описание на проекта: @Model.Project.Description
            </article>
            <article class="team-details-employees">
                @foreach (TeamEmployeeViewModel employee in Model.Employees)
                {
                    <div class="emplyee-details">
                        <p>
                            @employee.FullName (@employee.Email)
                        </p>
                    </div>
                }
            </article>
        </section>
    </article>
</div>