@model IEnumerable<Project_Flight_Manager.Models.FlightDataModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Create Flights</h1>
<style>
    h1{
        color:white;
    }
    .table{
        border-collapse: collapse;
        margin: 25px 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        text-align: center;
        background-color: rgba(163, 167, 204, 0.5);
    }
    .table thead tr {
        background-color:  #007299;
        color: #ffffff;
        text-align: center;
    }
    .table th,
    .table td {
        padding: 5px 11px;
        font-size: 15px;
    }
    .table td {
        
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    .table th {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .table tbody tr:last-of-type {
        border-bottom: 2px solid  #007299;;
    }
    .table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
    }
    .last-cell{
        display:flex;
    }
    .separator{
    margin: 0px 5px;
    color: #009879;
    }

    .btn{
        margin-top:15px;
        padding: 0;
    }
    .create-btn{
        padding: 9px 15px;
        border: 0 none;
        color: #ffffff;
        background: #007299;
        box-shadow: none;
        margin-top: 15px;
        border-radius: 7px;
    }
   

</style>
<p class="btn">
    <a class="create-btn" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AirlineID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirlineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepatureTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirlineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepatureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCapacity)
            </td>
            <td class="last-cell">
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                { 
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <p class="separator"> | </p>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <p class="separator"> | </p>
                <a asp-controller="ReservationDataModels" asp-action="Create">Buy</a>
            </td>
        </tr>
}
    </tbody>
</table>
