@using VacationManager.Web.ViewModels.CEO;

@model CustomerDetailsViewModel

<div class="customer-details-container">
    <h1>Виждате информацията за @Model.Username (@Model.Email)</h1>
    <article>
        <p>
            @Model.FirstName @Model.LastName е @Model.Role.ToString().
            @if (Model.HasTeam)
            {
                <span>Клиентът вече си има отбор!</span>
            }
            else
	        {
	            <span>Клиентът си търси нов отбор. Може да му намериш такъв като кликнеш на бутонът отдолу!</span> 
                <a class="find-team">Намери отбор</a>
	        }
        </p>
    </article>
</div>